parameters:
    darvin_menu.admin.form_type.menu.class: Darvin\MenuBundle\Form\Type\Admin\MenuType

    darvin_menu.admin.form_type.slug_map_item.class: Darvin\MenuBundle\Form\Type\Admin\SlugMapItemType

    darvin_menu.admin.menu_item_entity_link_view_widget.class: Darvin\MenuBundle\Admin\View\MenuItemEntityLinkWidget

    darvin_menu.admin.menu_item_factory.class: Darvin\MenuBundle\Admin\Menu\ItemFactory

    darvin_menu.admin.menu_item_sorter.class: Darvin\MenuBundle\Admin\Sorter\MenuItemSorter

    darvin_menu.admin.preserve_menu_in_url_listener.class: Darvin\MenuBundle\EventListener\Admin\PreserveMenuInUrlListener

services:
    darvin_menu.admin.form_type.menu:
        class: "%darvin_menu.admin.form_type.menu.class%"
        arguments:
            - "@darvin_menu.configuration.menu"
            - "@darvin_admin.metadata.manager"
            - "@request_stack"
        tags:
            - { name: form.type }

    darvin_menu.admin.form_type.slug_map_item:
        class: "%darvin_menu.admin.form_type.slug_map_item.class%"
        arguments:
            - "@darvin_utils.custom_object.loader"
            - "@doctrine.orm.entity_manager"
            - "@darvin_admin.entity_namer"
            - "@darvin_content.translatable.translation_joiner"
        tags:
            - { name: form.type }

    darvin_menu.admin.menu_item_entity_link_view_widget:
        class:  "%darvin_menu.admin.menu_item_entity_link_view_widget.class%"
        parent: darvin_admin.view.widget.abstract
        tags:
            - { name: darvin_admin.view_widget }

    darvin_menu.admin.menu_item_factory:
        class:  "%darvin_menu.admin.menu_item_factory.class%"
        public: false
        arguments:
            - "@darvin_admin.router"
            - "@darvin_menu.configuration.menu"
            - "@darvin_admin.metadata.manager"
        tags:
            - { name: darvin_admin.menu_item_factory }

    darvin_menu.admin.menu_item_sorter:
        class: "%darvin_menu.admin.menu_item_sorter.class%"
        arguments:
            - "@darvin_menu.slug_map.item_custom_object_loader"

    darvin_menu.admin.preserve_menu_in_url_listener:
        class: "%darvin_menu.admin.preserve_menu_in_url_listener.class%"
        arguments:
            - "@darvin_menu.configuration.menu"
            - "@darvin_admin.metadata.manager"
            - "@request_stack"
        tags:
            - { name: kernel.event_listener, event: darvin_admin.router.pre_generate, method: preRouteGenerate }
