parameters:
    darvin_menu.admin.form_type.associated.class: Darvin\MenuBundle\Form\Type\Admin\AssociatedType

    darvin_menu.admin.form_type.associated_class.class: Darvin\MenuBundle\Form\Type\Admin\AssociatedClassType

    darvin_menu.admin.form_type.menu.class: Darvin\MenuBundle\Form\Type\Admin\MenuType

    darvin_menu.admin.menu_item_factory.class: Darvin\MenuBundle\Admin\Menu\ItemFactory

    darvin_menu.admin.view_widget.associated.class: Darvin\MenuBundle\Admin\View\AssociatedWidget

services:
    darvin_menu.admin.form_type.associated:
        class: "%darvin_menu.admin.form_type.associated.class%"
        arguments:
            - "@darvin_menu.configuration.association"
            - "@doctrine.orm.entity_manager"
        tags:
            - { name: form.type }

    darvin_menu.admin.form_type.associated_class:
        class: "%darvin_menu.admin.form_type.associated_class.class%"
        arguments:
            - "@darvin_menu.configuration.association"
        tags:
            - { name: form.type }

    darvin_menu.admin.form_type.menu:
        class: "%darvin_menu.admin.form_type.menu.class%"
        arguments:
            - "@darvin_menu.configuration.menu"
        tags:
            - { name: form.type }

    darvin_menu.admin.menu_item_factory:
        class:  "%darvin_menu.admin.menu_item_factory.class%"
        public: false
        arguments:
            - "@darvin_admin.router"
            - "@darvin_menu.configuration.menu"
            - "@darvin_admin.metadata.manager"
        tags:
            - { name: darvin_admin.menu_item_factory }

    darvin_menu.admin.view_widget.associated:
        class:  "%darvin_menu.admin.view_widget.associated.class%"
        parent: darvin_admin.view.widget.abstract
        calls:
            - [ setAssociationConfig, [ "@darvin_menu.configuration.association" ] ]
            - [ setShowLinkWidget,    [ "@darvin_admin.view.widget.show_link" ] ]
        tags:
            - { name: darvin_admin.view_widget }
