parameters:
    darvin_menu.admin.form_type.menu.class: Darvin\MenuBundle\Form\Type\Admin\MenuType

    darvin_menu.admin.menu_item_factory.class: Darvin\MenuBundle\Admin\Menu\ItemFactory

    darvin_menu.admin.metadata.menu_item.entity: Darvin\MenuBundle\Entity\Menu\Item
    darvin_menu.admin.metadata.menu_item.config: "@@DarvinMenuBundle/Resources/config/admin/menu/item.yml"

    darvin_menu.admin.security_configuration.class: Darvin\MenuBundle\Admin\Security\Configuration

services:
    darvin_menu.admin.form_type.menu:
        class: "%darvin_menu.admin.form_type.menu.class%"
        arguments:
            - "@darvin_menu.configuration.menu"
        tags:
            - { name: form.type }

    darvin_menu.admin.menu_item_factory:
        class: "%darvin_menu.admin.menu_item_factory.class%"
        arguments:
            - "@darvin_admin.route.router"
            - "@darvin_menu.configuration.menu"
        tags:
            - { name: darvin_admin.menu_item_factory }

    darvin_menu.admin.metadata.menu_item:
        parent: darvin_admin.metadata.abstract
        arguments:
            - "%darvin_menu.admin.metadata.menu_item.entity%"
            - "%darvin_menu.admin.metadata.menu_item.config%"
        tags:
            - { name: darvin_admin.metadata }

    darvin_menu.admin.security_configuration:
        class:  "%darvin_menu.admin.security_configuration.class%"
        public: false
        tags:
            - { name: darvin_config.configuration }
            - { name: darvin_admin.security_configuration }
