parameters:
    darvin_menu.breadcrumbs.builder.class: Darvin\MenuBundle\Breadcrumbs\BreadcrumbsBuilder

    darvin_menu.breadcrumbs.twig_extension.class:           Darvin\MenuBundle\Twig\Extension\BreadcrumbsExtension
    darvin_menu.breadcrumbs.twig_extension.default_options: { currentAsLink: false }

services:
    _defaults:
        public: true

    darvin_menu.breadcrumbs.builder:
        class:  '%darvin_menu.breadcrumbs.builder.class%'
        public: false
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@darvin_menu.item_factory.pool'
            - '@darvin_utils.mapping.metadata_factory'
            - '@request_stack'
            - '@darvin_menu.slug_map.object_loader'
            - '@translator'
            - '%darvin_menu.breadcrumbs.slug_parameter_name%'

    darvin_menu.breadcrumbs.twig_extension:
        class:  '%darvin_menu.breadcrumbs.twig_extension.class%'
        public: false
        arguments:
            - '@darvin_menu.breadcrumbs.builder'
            - '@knp_menu.helper'
            - '%darvin_menu.breadcrumbs.twig_extension.default_options%'
            - '%darvin_menu.breadcrumbs.template%'
        tags:
            - { name: twig.extension }
