parameters:
    darvin_menu.admin.form_type.menu.class: Darvin\MenuBundle\Form\Type\Admin\MenuType

    darvin_menu.admin.form_type.menu_entry.class: Darvin\MenuBundle\Form\Type\Admin\MenuEntryType

    darvin_menu.admin.form_type.menu_entry_parent.class: Darvin\MenuBundle\Form\Type\Admin\MenuEntryParentType

    darvin_menu.admin.form_type.slug_map_item.choice.class: Darvin\MenuBundle\Form\Type\Admin\SlugMapItemChoiceType

    darvin_menu.admin.menu_item_factory.class: Darvin\MenuBundle\Admin\Menu\MenuItemFactory

    darvin_menu.admin.sorter.menu_entry.class: Darvin\MenuBundle\Admin\Sorter\MenuEntrySorter

    darvin_menu.admin.view.widget.menu_title.class: Darvin\MenuBundle\Admin\View\MenuTitleWidget

services:
    darvin_menu.admin.form_type.menu:
        class: '%darvin_menu.admin.form_type.menu.class%'
        arguments:
            - '@darvin_menu.configuration.menu'
            - '@darvin_admin.metadata.manager'
            - '@request_stack'
        tags:
            - { name: form.type }

    darvin_menu.admin.form_type.menu_entry:
        class:  '%darvin_menu.admin.form_type.menu_entry.class%'
        arguments:
            - '@darvin_utils.locale.provider'
        tags:
            - { name: form.type }

    darvin_menu.admin.form_type.menu_entry_parent:
        class: '%darvin_menu.admin.form_type.menu_entry_parent.class%'
        arguments:
            - '@darvin_utils.orm.entity_resolver'
            - '@darvin_utils.locale.provider'
            - '@darvin_menu.admin.sorter.menu_entry'
            - '@darvin_content.slug_map.object_loader'
        tags:
            - { name: form.type }

    darvin_menu.admin.form_type.slug_map_item.choice:
        class: '%darvin_menu.admin.form_type.slug_map_item.choice.class%'
        arguments:
            - '%darvin_menu.entities%'
        tags:
            - { name: form.type }

    darvin_menu.admin.menu_item_factory:
        class: '%darvin_menu.admin.menu_item_factory.class%'
        arguments:
            - '@darvin_admin.router'
            - '@security.authorization_checker'
            - '@darvin_menu.configuration.menu'
            - '@darvin_admin.metadata.manager'
        tags:
            - { name: darvin_admin.menu_item_factory }

    darvin_menu.admin.sorter.menu_entry:
        class:  '%darvin_menu.admin.sorter.menu_entry.class%'
        public: true
        arguments:
            - '@darvin_content.slug_map.object_loader'
            - '@darvin_utils.tree.sorter'

    darvin_menu.admin.view.widget.menu_title:
        class:  '%darvin_menu.admin.view.widget.menu_title.class%'
        parent: darvin_admin.view.widget.abstract
        arguments:
            - '@darvin_menu.configuration.menu'
        tags:
            - { name: darvin_admin.view_widget }
