parameters:
    darvin_menu.admin.form.type.entry.entity.class: Darvin\MenuBundle\Form\Type\Admin\Entry\EntityType

    darvin_menu.admin.form.type.entry.parent_choice.class: Darvin\MenuBundle\Form\Type\Admin\Entry\ParentChoiceType

    darvin_menu.admin.form.type.menu_choice.class: Darvin\MenuBundle\Form\Type\Admin\MenuChoiceType

    darvin_menu.admin.form.type.slug_map_item_choice.class: Darvin\MenuBundle\Form\Type\Admin\SlugMapItemChoiceType

    darvin_menu.admin.menu.item_factory.class: Darvin\MenuBundle\Admin\Menu\MenuItemFactory

    darvin_menu.admin.sorter.menu_entry.class: Darvin\MenuBundle\Admin\Sorter\MenuEntrySorter

    darvin_menu.admin.view.widget.menu_title.class: Darvin\MenuBundle\Admin\View\MenuTitleWidget

services:
    Darvin\MenuBundle\Admin\Sorter\MenuEntrySorterInterface: '@darvin_menu.admin.sorter.menu_entry'

    darvin_menu.admin.form.type.entry.entity:
        class:  '%darvin_menu.admin.form.type.entry.entity.class%'
        arguments:
            - '@darvin_utils.locale.provider'
        tags:
            - { name: form.type }

    darvin_menu.admin.form.type.entry.parent_choice:
        class: '%darvin_menu.admin.form.type.entry.parent_choice.class%'
        arguments:
            - '@darvin_content.reference.object.loader'
            - '@darvin_utils.orm.entity_resolver'
            - '@darvin_utils.locale.provider'
            - '@darvin_menu.admin.sorter.menu_entry'
        tags:
            - { name: form.type }

    darvin_menu.admin.form.type.menu_choice:
        class: '%darvin_menu.admin.form.type.menu_choice.class%'
        arguments:
            - '@darvin_menu.provider_registry'
            - '@darvin_admin.metadata.manager'
            - '@request_stack'
        tags:
            - { name: form.type }

    darvin_menu.admin.form.type.slug_map_item_choice:
        class: '%darvin_menu.admin.form.type.slug_map_item_choice.class%'
        arguments:
            - '%darvin_menu.entities%'
        tags:
            - { name: form.type }

    darvin_menu.admin.menu.item_factory:
        class: '%darvin_menu.admin.menu.item_factory.class%'
        arguments:
            - '@darvin_admin.router'
            - '@security.authorization_checker'
            - '@darvin_menu.provider_registry'
            - '@darvin_admin.metadata.manager'
        tags:
            - { name: darvin_admin.menu_item_factory }

    darvin_menu.admin.sorter.menu_entry:
        class:  '%darvin_menu.admin.sorter.menu_entry.class%'
        public: true
        arguments:
            - '@darvin_content.reference.object.loader'
            - '@darvin_utils.tree.sorter'

    darvin_menu.admin.view.widget.menu_title:
        class:  '%darvin_menu.admin.view.widget.menu_title.class%'
        parent: darvin_admin.view.widget.abstract
        arguments:
            - '@darvin_menu.provider_registry'
        tags:
            - { name: darvin_admin.view_widget }
