parameters:
    darvin_menu.breadcrumbs.builder.class: Darvin\MenuBundle\Breadcrumbs\BreadcrumbsBuilder

    darvin_menu.breadcrumbs.twig.extension.class: Darvin\MenuBundle\Twig\Extension\BreadcrumbsExtension

services:
    darvin_menu.breadcrumbs.builder:
        class: '%darvin_menu.breadcrumbs.builder.class%'
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@darvin_utils.homepage.router'
            - '@darvin_menu.knp.item.factory_registry'
            - '@darvin_utils.mapping.metadata_factory'
            - '@request_stack'
            - '@darvin_content.slug_map.object_loader'
            - '@translator'

    darvin_menu.breadcrumbs.twig.extension:
        class: '%darvin_menu.breadcrumbs.twig.extension.class%'
        arguments:
            - '@darvin_menu.breadcrumbs.builder'
            - '@knp_menu.helper'
            - '%darvin_menu.breadcrumbs.template%'
        tags:
            - { name: twig.extension }
