parameters:
    darvin_menu.builder.class: Darvin\MenuBundle\Builder\MenuBuilder

services:
    darvin_menu.builder:
        class: '%darvin_menu.builder.class%'
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@darvin_utils.orm.entity_resolver'
            - '@darvin_menu.knp.item.factory_registry'
            - '@darvin_utils.locale.provider'
            - '@darvin_utils.mapping.metadata_factory'
            - '@property_accessor'
            - '@darvin_content.slug_map.object_loader'
            - '@stof_doctrine_extensions.listener.sortable'
            - '%darvin_menu.entities%'
        tags:
            - { name: knp_menu.menu_builder, method: buildMenu, alias: darvin_menu }
