parameters:
    darvin_menu.renderer.json.class: Darvin\MenuBundle\Renderer\JsonRenderer

    darvin_menu.renderer.json.twig_extension.class: Darvin\MenuBundle\Twig\Extension\Renderer\JsonRendererExtension

services:
    darvin_menu.renderer.json:
        class: '%darvin_menu.renderer.json.class%'
        arguments:
            - '@darvin_utils.json.encoder'
        tags:
            - { name: knp_menu.renderer, alias: json }

    darvin_menu.renderer.json.twig_extension:
        class: '%darvin_menu.renderer.json.twig_extension.class%'
        arguments:
            - '@darvin_menu.renderer.json'
        tags:
            - { name: twig.extension }
