parameters:
    darvin_menu.switcher.admin.form_type.class: Darvin\MenuBundle\Form\Type\Admin\MenuSwitcherType

    darvin_menu.switcher.class: Darvin\MenuBundle\Switcher\MenuSwitcher

    darvin_menu.switcher.switch_event_subscriber.class: Darvin\MenuBundle\EventListener\SwitchMenuSubscriber

services:
    darvin_menu.switcher.admin.form_type:
        class: '%darvin_menu.switcher.admin.form_type.class%'
        arguments:
            - '@darvin_menu.configuration.menu'
            - '@darvin_menu.switcher'
        tags:
            - { name: form.type }

    darvin_menu.switcher:
        class: '%darvin_menu.switcher.class%'
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@darvin_utils.orm.entity_resolver'
            - '%darvin_menu.switcher.default_menus%'

    darvin_menu.switcher.switch_event_subscriber:
        class: '%darvin_menu.switcher.switch_event_subscriber.class%'
        arguments:
            - '@darvin_utils.orm.entity_resolver'
            - '@darvin_menu.switcher'
            - '@darvin_content.translatable.translation_initializer'
            - '%locales%'
        tags:
            - { name: doctrine.event_subscriber, priority: 100 }
